<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Lista de Coches</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--Creación de un nuevo coche-->
  <ion-item>
    <ion-label position="fixed">Modelo</ion-label>
    <ion-input [(ngModel)]="model"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Description</ion-label>
    <ion-input [(ngModel)]="description"></ion-input>
  </ion-item>

  <ion-button expand="full" color="success" (click)="addCar()">Añadir coche a la lista</ion-button>

  <!--Lista de coches guardados-->
  <ion-list #mylist>
  <ion-list-header>
    <ion-label>Coches guardados</ion-label>
  </ion-list-header>

  <ion-item-sliding *ngFor="let c of cars">
  
    <ion-item (click)="onClick(c.id)">
      <ion-label text-wrap>
        <h1>{{ c.model }}</h1>
        <ion-text *ngIf="clicked == c.id">
          <p>{{ c.description }}</p>
        </ion-text>
      </ion-label>
    </ion-item>

    <!--Options-->
    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="deleteCar(c)">Borrar</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
</ion-content>